@model ChangeFilmModel

@{
    ViewData["Title"] = $"Удаление фильма: {Model.FilmTitle}";
}

<div class="container py-4">
    <div class="text-center mb-4">
        <h2 class="display-4">@ViewData["Title"]</h2>
    </div>

    <div class="mb-3">
        <a asp-action="Index" class="btn btn btn-primary">К списку фильмов</a>
    </div>

    <form asp-action="DeleteConfirmed" asp-route-id="@Model.FilmId" method="post">
        <div class="table-responsive">

            <table class="table details-table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.FilmTitle)</th>
                        <th>@Html.DisplayNameFor(model => model.Style)</th>
                        <th>@Html.DisplayNameFor(model => model.Director)</th>
                        <th>@Html.DisplayNameFor(model => model.Description)</th>
                    </tr>
                </thead>
                <tr>
                    <td class="film-title">@Model.FilmTitle</td>
                    <td class="film-title">@Model.Style</td>
                    <td class="film-title">@Model.Director</td>
                    <td class="film-title">@Model.Description</td>                  
                </tr>
            </table>

            <div class="form-group mt-3">
                <input type="submit" value="Удалить" class="btn btn-danger m-1" />
                <a asp-action="Index" class="btn btn-secondary m-1">Отмена</a>
            </div>
        </div>
    </form>
</div>